
.problem {
  color: red;
}

.warning {
  color: darkorange;
}

.envoy {
  font-style: italic;
  padding: 4px 6px;
}

.listener {
  background-color: lightgrey;
	/*border-style: solid;*/
	/*border: 1px solid green;*/
}

.route {
  background-color: lightcyan;
}

.cluster {
  background-color: lavender;
}
